<h1>Search For Weather By City</h1>
<form action="/" method="post">
  <input type="text" name="city">
  <button type="submit">Search</button>
</form>

<button type="button"><a href="/moods">All Moods</a></button>
